@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');

:root {
    --primary: #7DBA84;
    --secondary: #c6464e;
    --third: #7a52ad;
    --shadow: rgba(77, 83, 88, 0.8) 0px 8px 24px;
}

* {
    margin: 0;
}

body {
    background-image: url('/images/gecko.svg');
    background-size: 300px;
}

.header {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    font-size: large;
    font-family: 'IM Fell DW Pica', serif;
    min-height: 80px;
    line-height: 80px;
    box-shadow: var(--shadow);
}
#profileLink, #translateLink{
    margin-right: 0;
    text-decoration: none;
    color: var(--secondary);
    padding: 30px 20px;
}

#profileLink:hover, #translateLink:hover{
    background-color: #6c9972;
    font-weight: 700;
} 
.validateLogin{
    font-size: 12px;
    color: #c6464e;
}
fieldset {
    width: 350px;
    height: 60px;
    margin: 20px auto auto;
    box-shadow: rgb(149 157 165 / 0.8) 0px 8px 24px;
    background-color: var(--primary);
    border: none;
    border-bottom: var(--secondary) 10px solid;
    border-radius: 10px;
    line-height: 60px;
}
.keyboard{
    position: absolute;
    margin-top: 22px;
    margin-left: 10px;
}

input {
    border: none;
    height: 30px;
    width: 300px;
    border-radius: 30px;
    padding: 5px 10px 5px 40px;
}

button {
    cursor: pointer;
    background-color: var(--secondary);
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    box-shadow: var(--shadow);
    margin-left: -40px;
}
button:hover{
    background-color: #ac3f46;
}

#logoutBtn{
    position: absolute;
    width: 100px;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
    height: 40px;
    right: 0;
    top: 80px;
}
#deleteHistoryBtn{
    width: 100px;
    border-radius: 5px;
    margin: 20px;
    padding: 7px;
    height: 40px;
    background-color: var(--third);
}
#deleteHistoryBtn:hover{
    background-color: #6c3fa7;
}
#historySquare{
    max-width: 600px;
    margin: auto auto;
}
.TranslationSquare{
    background-color: var(--primary);
    max-width: 600px;
    min-height: 200px; 
    height: fit-content;
    box-shadow: var(--shadow);
    margin: 80px auto auto;
    border-bottom: var(--secondary) solid 40px;
    border-radius: 20px;
    position: relative;
    padding: 20px;
}
#translation{
    background-color: rgb(219, 219, 219);
    padding: 5px;
    border-radius: 20px;
    position: absolute;
    bottom: -32px;
    left: 16px;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
}
li{
    list-style: decimal;
}
.sign-img{
    width: 40px;
}